<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/practical_task_19_ASP.NET_Core.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <span class="logo"> Телефонная книга</span>
        @if (!User.Identity.IsAuthenticated)
        {
            <nav>
                <a href="/Account/Login">Войти</a>
                <a href="/Account/Register/">Зарегистрироваться</a>
            </nav>
        }
        else
        {
            <p>
                @User.Identity.Name
            </p>
            <nav>
                <a href="/">Главная</a>
            </nav>
            <form method="post" asp-controller="Account" asp-action="Logout">
                <input type="submit" value="Выход" />
            </form>
        }
        @if (ViewContext.HttpContext.User.IsInRole("Admin"))
        {
            <form asp-controller="Roles" asp-action="Index">
                <input type="submit" value="Управление сайтом" />
            </form>
        }
    </header>
    <main>
        @RenderBody()
    </main>
</body>
</html>